@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
        url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"),
        url("../fonts/Poppins-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

:root {
    --text-color: #9E9AA8;
    --btn-color: #2BD0D0;

}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 15px;
    background-color: #fff;
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1142px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}


/* HEADER */
.header {
    padding-top: 48px;
    margin-bottom: 78px;
}

.header__container {
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.logo-link {
    min-width: 120px;
    height: 32px;
    text-decoration: none;
    display: flex;
    transition: opacity 0.4s ease;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}

.header__logo-link {
    color: #34313D;
    margin-right: 45px;
}

.sitenav {
    margin-right: 10px;
}

.sitenav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.sitenav__item:not(:last-child) {
    margin-right: 29px;
}

.sitenav__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    display: block;
    transition:
        color 0.4s ease,
        opacity 0.4s ease;
}

.sitenav__link:hover {
    color: #34313D;
}

.sitenav__link:active {
    opacity: 0.8;
}

.header__btn-wrapper {
    display: flex;
    align-items: center;
}

.header__link {
    color: var(--text-color);
    line-height: 22.5px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 37px;
    text-decoration: none;
    transition:
        color 0.4s ease,
        opacity 0.4s ease;
    white-space: nowrap;
}

.header__link:hover {
    color: #34313D;
}

.header-link:active {
    opacity: 0.8;
}

.main-btn {
    text-decoration: none;
    border-radius: 28px;
    background-color: var(--btn-color);
    color: #fff;
    font-weight: 700;
    border: 2px solid transparent;
    transition:
        background-color 0.4s ease;
    white-space: nowrap;
}

.header__btn {
    padding: 9px 23px 8px 24px;
    line-height: 22.5px;
    font-size: 15px;
}

.main-btn:hover {
    background-color: #9AE3E3;
}

.main-btn:active {
    opacity: 0.8;
}


/* HERO */
.hero {    
    overflow-x: hidden;
    padding-bottom: 152px;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__info {
    margin-right: 102px;
    padding-bottom: 75px;
    padding-top: 56px;
}

.hero__title {
    width: 565px;
    font-size: 80px;
    font-weight: 700;
    color: #34313D;
    line-height: 90px;
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 5px;
}

.hero__text {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-top: 0;
    margin-bottom: 38px;
    width: 540px;
}

.hero__btn {
    padding: 14px 40px 12px 40px;
    font-size: 20px;
    line-height: 30px;
}


.form-wrapper {
    background-color: #EFF1F7;
    position: relative;
    padding-top: 204px;
    padding-bottom: 120px;
}

.form-wrapper__container {
    padding-left: 1px;
    padding-right: 1px;
}

.form {
    display: flex;
    background-image: url("../img/form-bg.svg");
    background-repeat: no-repeat;
    padding: 52px 64px;
    background-color: #3A3054;
    border-radius: 10px;
    margin-bottom: 24px;
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
}

.form__inner {
    width: 769px;
    padding: 14px 32px;
    border-radius: 10px;
    margin-right: 24px;
    background-color: #fff;
    color: #34313D;
    border: none;
}

.form__btn {
    padding: 18px 40px 16px 41px;
    border-radius: 10px;
    cursor: pointer;
}

.about__info {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    margin-bottom: 56px;
}

.about__title {
    color: #34313D;
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 700;
}

.about__text {
    text-align: center;
    margin: 0;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.12px;   
}

.card {
    background-image: url("../img/card-list-bg.svg");
    background-repeat: no-repeat;
    z-index: -10;
    background-position: center;
    border: 1px solid red;
    padding-top: 88px;
    padding-bottom: 44px;
}

.card-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.card-list__item {
    background-color: #fff;
    padding: 77px 32px 41px 32px;
    position: relative;
}

.card-list__item:first-child {
    transform: translateY(-44px);
}

.card-list__item:last-child {
    transform: translateY(44px);
}

.card-list__item:not(:last-child) {
    margin-right: 30px;
}

.card-item__img {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    display: block;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.card-item__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 33px;
    color: #34313D;
}

.card-item__text {
    line-height: 26px;
}